body{
    background-color: darkslategray;
    color: seashell;
}

header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer{
    background-color:lightseagreen;
    margin-right: 1700px;
    padding: 10px ;
}

a {
    color:sienna;
}

h1 {
    font-size: 60px;
}

.earth {
    color: #2a8442;
}

.earth2 {
    color: #2a8442;
}

.red {
    color: #d33d1f;
}

.mars2 {
    color: #d33d1f;
}

.intro {
    font-size: 24px;
}