body{
    background-color: darkslategray;
    color: seashell;
}

header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px gray dashed
}
main{
    margin: 20px;
    border: solid grey 5px;
    padding: 8px
}
footer{
    background-color:lightseagreen;
    margin-right: 1700px;
    margin-left: 20px;
    padding: 10px ;
    border: 5px gray dashed
}   

a {
    color:sienna;
}

h1 {
    font-size: 60px;
}

strong{
    color:tomato;
}

.earth {
    color: #2a8442;
}

.earth2 {
    color: #2a8442;
}

.red {
    color: #d33d1f;
}

.mars2 {
    color: #d33d1f;
}

.intro {
    font-size: 24px;
}